<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.text %></p>
    <h6 class="card-subtitle mb-2 text-muted text-right small"><%= article.created_at.strftime("%F %T(%a)") %></h6>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-info rounded-circle p-0" style="width:2rem;height:2rem;">
      <%= fa_icon("edit") %>
    </button>
    <button type="button" class="btn btn-info rounded-circle p-0" style="width:2rem;height:2rem;">
      <%= fa_icon("trash") %>
    </button>
  </div>
</div>