<div class="modal fade" id="infoWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if infoMessage == "delete" %>
          <p>削除してもよろしいですか？</p>
        <% elsif infoMessage == "new" %>
          <p>新規記事を投稿します。</p>
        <% elsif infoMessage == "edit" %>
          <p>更新します。</p>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn bg-mainColor rounded-circle p-0 btn-round" data-dismiss="modal">
          <%= fa_icon("ban") %>
        </button>

        <% if infoMessage == "delete" %>
          <%= link_to "/articles/#{article.id}", method: :delete do %>
            <button type="button" class="btn bg-mainColor rounded-circle p-0 btn-round">
              <%= fa_icon("check") %>
            </button>
          <% end %>
        <% elsif infoMessage == "new" or infoMessage == "edit" %>
          <%= button_tag type: "submit", class: "btn bg-mainColor rounded-circle p-0 btn-round" do %>
              <%= fa_icon("check") %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>