<nav class="navbar navbar-expand-lg navbar-dark bg-mainColor">
  <%= link_to "Mini Blog", root_path, class: "navbar-bland text-light" %>
    <%= button_tag type: "button", class: "navbar-toggler", "data-toggle": "collapse", "data-target": "#Navber", "aria-controls": "Navber", "aria-expanded": "false", "aria-label": "ナビゲーションの切替" do %>
      <span class="navbar-toggler-icon"></span>
    <% end %>

    <div class="collapse navbar-collapse justify-content-end" id="Navber">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "投稿", new_article_path, class: "nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>